* {
    padding: 0;
    margin: 0;
  }
  nav {
    width: 100%;
    height: 100px;
    float: left; /* Desplazamos el nav hacia la izquierda */
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
    background-color: #426d46;
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-left: 50px;
  }
  
  nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  a{
      width: 100px;
  }
  
  nav ul li:hover {
    background: #3ead47;
  }
  img{
      width: 120px;
      height: 60px;
      float: left;

  }
